*{
	padding: 0;
	margin: 0;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	text-align: center;
}

html.body{
	height: 100%;
}

.menu{/*Definindo funções para o menu*/
	text-align: left;
	top: 0;/*Travar o menu ao rolar o site para baixo*/
	width: 100%;
	background-color: rgb(255, 255, 255);
	position: fixed;/*Travar o menu ao rolar o site para baixo*/
}

.am{/*Definindo estilo para os atributos A que representa os links do meu menu*/
	display: inline-block;
	vertical-align: top;
	margin-top: 18px;
	margin-left: 330px;
}

.am a{/*Definindo configurações para nosso componente A*/
	vertical-align: top;
	margin-right: 50px;
	text-align: center;
	margin: 0 40px;
	font-size: 17px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: 5px;
	display: inline-block;
}

.am a:hover{
	text-decoration: underline;
	text-decoration-color: rgb(138, 138, 138);
	text-decoration-style: 2px;
}

.menu img{
	margin-top: 2px;
	margin-left: 5px;
	display: inline-block;
	width: 80px;
	height: 60px;

}

.introducao{
	margin-top: 10px;
}

.introducao img{
	width: 500px;
	height: 350px;
	display: inline-block;
}

.itntxt{
	vertical-align: top;
	margin-left: 20px;
	margin-top: 90px;
	text-align: center;
	width: 400px;
	display: inline-block;
}

.itntxt h1{/*Definindo atributos para o elemento título*/
	display: inline-block;
}

.itntxt p{/*Definindo atributos para o elemento Paragrafo*/
	font-size: 16px;
	width: 300px;
	margin-top: 10px;
	vertical-align: top;
	display: inline-block;
}

.itntxt button{/*Atributos elemento botão*/
	margin-top: 10px;
	width: 250px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border-radius: 20px;
	border-width: 1px;
}

.itntxt button:hover{/*Estilizando o passe do mouse no elemento botão*/
	cursor: pointer;/*Mudar o cursor ao passar o mouse por cima do elemento*/
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

.m h1{
	color:rgb(82, 82, 82);
}

.projeto2{
	width: 100%;
}

.txtproj2{
	margin-right: 8px;
	width: 400px;
	vertical-align: top;
	margin-top: 80px;
	display: inline-block;
}

.projeto2 img{
	display: inline-block;
	margin-top: 14px;
	width:500px;
	height: 330px;
}

.txtproj2 button{
	width: 250px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	margin-top: 8px;
	border-width: 1px;
}

.txtproj2 button:hover{
	cursor: pointer;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

.txtproj2 p{
	margin-top: 8px;
	font-size: 16px;
}

.servico{
	width: 100%;
	text-align: center;
}

.banner1, .banner2, .banner3{/*banner*/
	border: solid;
	border-width: 1px;
}

.banner1, .banner1 h1, .banner1 p{/*Blog*/
	text-align: center;
	vertical-align: top;
	margin-top: 10px;
	display: inline-block;
	width: 380px;
	margin-right: 15px;
	background-color: rgb(255, 255, 255);
	
}

.banner2, .banner2 h1, .banner2 p{/*Tela de login*/
	margin-top: 10px;
	display: inline-block;
	width: 380px;
	margin-right: 15px;
	background-color: rgb(255, 255, 255);
}

.banner3, .banner3 h1, .banner3 p{/*Ecommerce*/
	background-color: rgb(255, 255, 255);
	vertical-align: top;
	margin-top: 10px;
	display: inline-block;
	width: 380px;
}

.banner2 h1, .banner1 h1, .banner3 h1{
	font-size: 21px;
}

.banner1 button, .banner2 button, .banner3 button{/*Definindo funções para o botão*/
	margin-top: 10px;
	margin-bottom: 10px;
	width: 220px;
	height: 25px;
	border-style: solid;
	border-width: 1px;
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	color: black;
}

.banner1 button:hover, .banner2 button:hover, .banner3 button:hover{/*Função ao passar o mouse por cima do elemento*/
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

.es1, .es2, .es3,{/*Espaçamento entre as divs*/
	color: black;
}

.es1{/*Espaçamento entre as divs*/
	margin-top: 50px;
}